{% extends 'default.html' %}

{% block title %} Новости {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить объявление?</h2>
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Текст
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title }}
        </td>
        <td>
            {{ post.dateCreation }}
        </td>
        <td>
            {{ post.text|safe }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}