
{% extends 'default.html' %}

{% block title %}
Новости
{% endblock title %}

{% load static %}
{% block content %}
    Дата публикации: {{ post.dateCreation|date:'d-M-Y h:m' }}
    <br>
    Автор: {{ post.author }}
    <br>
    Категория: {{ post.category }}
    <br>
    Заголовок: <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>

    <p>{{ post.text|safe }}</p>
        {% if post.author.authorUser.username != user.username %}
                <a href="{% url 'respond_create' post.id user %}">Откликнуться</a>
        {% else %}
                <a href="{% url 'post_update' post.id %}">Редактировать</a>
                <a href="{% url 'post_delete' post.id %}"><u> |Удалить| </u></a>
        {% endif %}

{% endblock content %}