{% extends 'default.html' %}

{% block title %} Отклики {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный отклик?</h2>
<table>
    <thead>
        <th>
            Автор
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Текст
        </th>
    </thead>
    <tr>
        <td>
            {{ respond.author }}
        </td>
        <td>
            {{ respond.dateCreation }}
        </td>
        <td>
            {{ respond.text }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}