/fullstack-projects/F4 project
/fullstack-projects/F8 project
/fullstack-projects/F9 project/venv
/fullstack-projects/F9 project/client.py
/fullstack-projects/F9 project/server.py
/fullstack-projects/F9 project/websocket.html