/D1_znakomstvo_s_Django/D1_venv/
pythonProject/.idea
/VSCode projects
/D3_templates_views
/D4_filters_and_forms
/D16_final
/E1
/F8 project
/E5Project
/html_css_js
/pythonProject
/simpleapp
/WebStorm projects
/fullstack-projects/F4 project
/fullstack-projects/F8 project
/fullstack-projects/F9 project/venv
/fullstack-projects/F9 project/client.py
/fullstack-projects/F9 project/server.py
/fullstack-projects/F9 project/websocket.html