{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Новости
{% endblock title %}

{% block content %}
{% if not posts %}
<h1> Новостей нет </h1>
{% else %}
<h1>Свежие новости: {{ posts|length }}</h1><h4><a href="{% url 'news_create' %}">|добавить новость|</a></h4>
<p><form action="search">
    <button> Найти другие новости </button></form></p>
<hr>
<table>
    <tr>
        <td>Категория </td>
        <td>Заголовок </td>
        <td>Дата публикации </td>
        <td>Предпросмотр </td>
    </tr>
    {% for post in posts %}
        <tr>
            <td>{{ post.postCategory }}</td>
            <td>
                <a href="{% url 'news_detail' post.id %}">{{ post.title }}</a>
                <a href="{% url 'news_update' post.id %}"><u> |Редактировать| </Редактировать></u></a>
                <a href="{% url 'news_delete' post.id %}"><u> |Удалить| </u></a>
            </td>
            <td>{{ post.dateCreation|date:'d-M-Y h:m' }}</td>
            <td>{{ post.preview|censor }}</td>
        </tr>
    {% endfor %}
</table>

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">Начало</a>
        <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Конец</a>
    {% endif %}

{% endif %}
{% endif %}
{% endblock content %}