block variables 
  - var name = 'bkanycty'

doctype html
head
  meta(charset='UTF-8')
  title &Icy;&mcy;&yacy; &vcy;&kcy;&lcy;&acy;&dcy;&kcy;&icy;
  link(rel='stylesheet' type='text/css' href='dist/main.css')
header
  h1 &Ecy;&tcy;&ocy; &zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &vcy; &khcy;&ecy;&dcy;&iecy;&rcy;&iecy;
main
  script(src='dist/main.js')
footer
  p Привет, #{name}
