.reclamation-detail{
    margin-left: 10%;
    width: 50%;
    border-collapse: collapse;
    margin-top: 1vw;
    text-align: left;
    align-self: center;
    font-family: 'PT-Astra-Sans_Bold';
}

.form-label{
    font-family: 'PT-Astra-Sans_Bold';
    width: 25%;
}

.form-data{
    padding-left: 1vw;
    font-family: 'PT-Astra-Sans_Regular';
}

.link-row:hover{
    background: #163E6C;
    color:#EBE6D6;
    cursor:pointer;
}