<!-- chat/templates/chat/index.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>

<form method="post" action="{% url 'index' %}" id="form" name="registration">
    {% csrf_token %}
    <input type="text" id="name" placeholder="Введите имя"/>
    </br>
    <input type="button" onclick="valid(document.getElementById('form'))" name="submit" value="Войти"/>
    <script>
    function valid(form) {
      let name = form.name.value;
    </script>
</form>
</body>
</html>