.greetings {
    max-width: 25%;
    margin-left: auto;
    padding: 1rem;
    border-radius: 1rem;
    font-family: sans-serif;
    display: block;
    margin-left: 5rem;
    margin-right: auto;
    font-size: larger;
}

.greet {
    position: relative;
    box-shadow: 5px 5px 10px 1px rgba(153, 205, 50, 0.668);
    border: solid 2px rgba(153, 205, 50, 0.668);
}

.step {
    border: solid 2px lightblue;
    box-shadow: 5px 5px 10px 1px rgb(87, 186, 219);
}

.step-1 {
    position: absolute;
    left: 40%;
}

.step-2 {
    position: relative;
}

.step-3 {
    position: relative;
}

