.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background: #0E0C00;
}

.navbar-a {
    text-decoration: none;
    color: white;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    text-decoration: none;
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #101010;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: green;
    color: #101010;
}