<style>
.raz {
  text-align: right;
}





</style>
<style>
a.button1 {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #000;
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
a.button1:active {
  top: 1px;
  box-shadow: none;
}
a.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}



</style>
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Знаменитости
{% endblock title %}

{% block content %}

<br><br>
<h6><a href="{% url 'subscribe_cooking' %}" class="button1">Подписаться на "Кулинария"</a>
</h6><br>

{% if not cooking %}
<h1> Новостей нет </h1>
{% else %}


<hr>
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Предпросмотр</td>
    </tr>
    {% for post in cooking %}
    <tr>
        <td>
            <a href="{% url 'news_detail' post.id %}">{{ post.title }}</a>
            <a href="{% url 'news_update' post.id %}"><u> |Редактировать| </u></a>
            <a href="{% url 'news_delete' post.id %}"><u> |Удалить| </u></a>
        </td>
        <td>{{ post.dateCreation|date:'d-M-Y h:m' }}</td>
        <td>{{ post.preview|censor }}</td>
    </tr>
    {% endfor %}
</table>
{% if is_paginated %}

{% if page_obj.has_previous %}
<a href="?page=1">Начало</a>
<a href="?page={{ page_obj.previous_page_number }}">Назад</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a>{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">Вперед</a>
<a href="?page={{ page_obj.paginator.num_pages }}">Конец</a>
{% endif %}

{% endif %}
{% endif %}
{% endblock content %}