<style>
.raz {
  text-align: right;
}





</style>
<style>
.dva {
  text-align: left;
}





</style>

<style>
a.button1 {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #000;
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
a.button1:active {
  top: 1px;
  box-shadow: none;
}
a.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}




</style>
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Новости
{% endblock title %}

{% block content %}
{% if not posts %}
<h1> Новостей нет </h1>
{% else %}
{% load i18n %}


<h1>{% trans "Свежие новости" as fresh_news %} {{ fresh_news }}: {{ posts|length }}</h1><h4><a href="{% url 'news_create' %}">{% trans "|добавить новость|" as publish_news %} {{ publish_news }}</a></h4>
<p>
<form action="search">


    <button> {% trans "Найти другие новости" as find_news %} {{ find_news }}</button>

    <br><br>
    <div class="dva">
        <h6><a href="{% url 'category_selection' %}" class="button1">{% trans "Выбрать категорию" as choose_category %} {{ choose_category }}</a>
        </h6></div>
    <br>
</form>
<hr>
<table>
    <tr>
        <td>{% trans "Категория" as category %} {{ category }}</td>
        <td>{% trans "Заголовок" as title %} {{ title }}</td>
        <td>{% trans "Дата публикации" as cr_date %} {{ cr_date }}</td>
        <td>{% trans "Предпросмотр" as preview %} {{ preview }}</td>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{% for Category in post.postCategory.all %}
            {{ Category }}
            {% endfor %}
        </td>
        <td>
            <a href="{% url 'news_detail' post.id %}">{{ post.title }}</a>
            <a href="{% url 'news_update' post.id %}"><u> {% trans "|Редактировать|" as edit %} {{ edit }} </u></a>
            <a href="{% url 'news_delete' post.id %}"><u> {% trans "|Удалить|" as delete %} {{ delete }} </u></a>
        </td>
        <td>{{ post.dateCreation|date:'d-M-Y h:m' }}</td>
        <td>{{ post.preview|censor }}</td>
    </tr>
    {% endfor %}
</table>

{% if is_paginated %}

{% if page_obj.has_previous %}
<a href="?page=1">{% trans "Начало" as home %} {{ home }}</a>
<a href="?page={{ page_obj.previous_page_number }}">{% trans "Назад" as back %} {{ back }}</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a>{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{% trans "Вперед" as foward %} {{ foward }}</a>
<a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Конец" as end %} {{ end }}</a>
{% endif %}

{% endif %}
{% endif %}
{% endblock content %}