.fieldWrapper{
    border-collapse: collapse;
    margin-top: 1vw;
    margin-left: 30%;
    text-align: left;
    align-self: center;
    font-family: 'PT-Astra-Sans_Bold';
}

@media screen and (max-width: 974px) {
    .fieldWrapper {
        table-layout: fixed;
        width: 98%;
        margin-left: 0;
        overflow: hidden;
    }
}

.form-label{
    font-family: 'PT-Astra-Sans_Bold';
}

.form-data{
    padding-left: 1vw;
    font-family: 'PT-Astra-Sans_Regular';
}

@media screen and (max-width: 974px) {
    #id_machine_factory_number {
        width: 90%;
    }
}

@media screen and (max-width: 974px) {
    #id_engine_factory_number {
        width: 90%;
    }
}

@media screen and (max-width: 974px) {
    #id_transmission_factory_number {
        width: 90%;
    }
}

@media screen and (max-width: 974px) {
    #id_drive_axle_factory_number {
        width: 90%;
    }
}

@media screen and (max-width: 974px) {
    #id_steering_axle_factory_number {
        width: 90%;
    }
}
@media screen and (max-width: 974px) {
    #id_supply_contract {
        width: 90%;
    }
}
@media screen and (max-width: 974px) {
    #id_end_user {
        width: 90%;
    }
}
@media screen and (max-width: 974px) {
    #id_delivery_address {
        width: 90%;
    }
}
@media screen and (max-width: 974px) {
    #id_complete_set {
        width: 90%;
    }
}


.submit-button{
    font-family: 'PT-Astra-Sans_Regular';
    color: #163E6C;
    font-size: 1.5vw;
    height: 2vw;
    padding: 0vw 3vw;
}

@media screen and (max-width: 974px) {
    .submit-button {
        font-size: 4vw;
        height: 6vw;
    }
}

.link-row:hover{
    background: #163E6C;
    color:#EBE6D6;
    cursor:pointer;
}

.create-node:hover{
    background: #163E6C;
    color:#EBE6D6;
    cursor:pointer;
}

.create-node a{
    color: #163E6C;
    text-decoration: none;
}

.create-node a:hover{
    color: #EBE6D6;
}

@media screen and (max-width: 974px) {
    .create-node {
        width: 12vw;
    }
}